/*

.bun
.bun/
.bun/**/*

!/.config/
/.config/*
!/.config/zsh/
!/.config/mise/
!/.config/gcloud/
/.config/gcloud/*
!/.config/gcloud/configurations

!/.gemini/
/.gemini/*
!/.gemini/settings.json

!.zshrc
!.zshenv
!.gitignore
!.gitconfig
!.bash_logout
!.bashrc

!.vscode/settings.json
!.vscode/extensions.json
!.vscode/keybindings.json
!.vscode/snippets
!.vscode/launch.json
!.vscode/tasks.json
